@model ResumeManager.UI.Models.Resume.ResumeCreateViewModel

@{
    ViewData["Title"] = "CreateResume";
}

<h2>Create Resume</h2>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="fa fa-user" aria-hidden="true"></i> Contact Details
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="alert alert-success" id="successAlertContactDetails">
                            <strong>Success! </strong>
                            Contact details correctly Saved.
                        </div>
                        @Html.Partial("~/Views/Resume/_ContactDetailsPartial.cshtml", Model)
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <i class="fa fa-rocket" aria-hidden="true"></i> Skills
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        @Html.Partial("~/Views/Resume/_SkillsPartial.cshtml", Model)
                    </div>
                </div>

                @*<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="fa fa-align-center" aria-hidden="true"></i> Summary
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input id="summary" type="hidden" name="Summary">
                                        <trix-editor placeholder="Please enter a summary of your skills" input="summary"></trix-editor>
                                        <span asp-validation-for="Summary" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class="glyphicon glyphicon-plus-sign">
                                    </span> Qualifications
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="Qualifications" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Qualifications" class="form-control" />
                                        <span asp-validation-for="Qualifications" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i> Experience
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="Jobs" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Jobs" class="form-control" />
                                        <span asp-validation-for="Jobs" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    <i class="fa fa-university" aria-hidden="true"></i> Education
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="Courses" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Courses" class="form-control" />
                                        <span asp-validation-for="Courses" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    <span class="glyphicon glyphicon-tower">
                                    </span> Interests
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label asp-for="Interests" class="col-md-2 control-label"></label>
                                    <div class="col-md-10">
                                        <input asp-for="Interests" class="form-control" />
                                        <span asp-validation-for="Interests" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                    <i class="fa fa-handshake-o" aria-hidden="true"></i> References
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input id="references" type="hidden" name="References">
                                        <trix-editor placeholder="Please enter your references" input="references"></trix-editor>
                                        <span asp-validation-for="References" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Confirm and finalize" class="btn btn-warning" />
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/createResume.js"></script>
}
